!!!
%html
  %head
    %link{:href => "stylesheets/all.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "javascripts/jquery.js", :type => "text/javascript"}
  %body.contents_centered
    %canvas{:height => "720", :width => "1280"}
    :javascript
      BASE_URL = "./"; MTIME = "1331090712";

    %script{:src => "./game.js"}
    %script{:src => "javascripts/pixie_dust.js" }
