.content
  :markdown
    HTML5 Game Development Server
    =============================

    Introduction
    ------------

    Remember how there aren't any good HTML5 game dev environments? Well that's sligtly less true now.

    With Bjork you can easily reuse code via modules, manage dependencies, oh god I'm so boring. I've become everything I hate. Let's start over, yeah?

    With Bjork you can easily make amazing games! Nothing can stop you! Nothing will stand in your way!

    Running your Game
    -----------------



    I/O
    ---

    Saving data to your filesystem from HTML has never been easier:

        POST /save
        data The file contents to save
        path The path relative to your project to save to

    Example

        $.post "save",
          data: '{"coolField": "isAwesome"}'
          path: "data/awesome.json"

    Loading data is even easier. Because Bjork serves all content in your project folder
    it will happen automatically.

        $.getJSON "data/awesome.json", (data) ->
          alert data.coolField
